title: i'm Nann
description: Chalermchai Prompunya
markdown: kramdown
excerpt_separator: <!--more-->

defaults:
  -
    scope:
      path: ""      # empty string for all files
      type: posts   # limit to posts
    values:
      is_post: true # automatically set is_post=true for all posts