$color-primary: #0277BD;
$color-bg-body: #002358;

body {
    background-color: $color-bg-body !important;
}

a {
    color: $color-primary;
}

#brand .logo-avatar, #brand .logo-avatar img {
    border-radius: 0;
}

#intro {
    padding: 5px 20px !important;
    font-size: 1.1em;
}

#intro, #content h1.title {
    background-color: $color-primary;
    border-radius: 3px 3px 0 0;
}
#head, #head a, #foot, #foot a {
    color: #fff;
}

#content {
    .items.group {
        padding: 35px 20px !important;

            .nann-post {
                .item.group {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
            }
    }
}

#social-link {
    li {
        display: inline-block;
        padding: 0 5px;
    }
}

#mobile-menu {
    li {
        padding: 11px 20px 9px;
        background-color: #333333;
        border-bottom: 1px solid #222;

        &:hover {
            background-color: #444444;
        }

        a {
            color: #cccccc;
        }
    }
}

.share-icons {
    width: 38px;
    height: 38px;
}

.sharing {
    font-size: 2rem;
}
.text-center {
    text-align: center;
}

// icons
.share-icons,
.home-icons {
  fill: $color-primary;
}

@media screen and (max-width: 479px) {

    #intro {
        font-size: 0.88em;
    }

    #brand {
        float: left !important;
        width: 220px !important;
        padding-left: 0px !important;;
    }

    #nav {
        float: right !important;
    }

    #foot {
        text-align: center;
    }

    #foot .credit,
    #foot .copyright {
        float: none !important;;
    }
}

@media screen and (max-width: 739px) {
    #page, #main {
        width: 100%;
    }

    #foot .credit {
        float: right;
    }
}

@media screen and (max-width: 990px) {
    #page, #main {
        width: 100%;

        #intro, #content {
            border-radius: 0px;
        }
    }

    #brand {
        padding-left: 20px;
    }

    #social-profile {
        clear: both;
        padding-top: 10px;

        .fa {
            font-size: 1.3em !important;
        }
    }

    #nav {
        width: 80px !important;
    }

    .site-mobile-navigation {
        display: block;
        text-transform: uppercase;
        margin-top: 10px;
    }

    #foot {
        padding: 10px 20px;
    }
}

._desktop {
    display: none;
}
@media screen and(min-width: 991px) {
    ._mobile {
        display: none;
    }
    ._desktop {
        display: block;
    }
}