body {
    background-color: #0D47A1 !important;
}

a {
    color: #399366;
}

#brand .logo-avatar, #brand .logo-avatar img {
    border-radius: 0;
}
#intro, #content h1.title {
    background-color: #0277BD;
}
#head, #head a, #foot, #foot a {
    color: #fff;
}
@media screen and (max-width: 739px) {
    #content {
        border-radius: 5px 5px 3px 3px !important;
        margin: 0 10px;
    }
}

#content {
    .items.group {
        padding: 35px 45px !important;

            .nann-post {
                .item.group {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
            }
    }
}

.share-icons {
    width: 38px;
    height: 38px;
}

.sharing {
    font-size: 2rem;
}
.text-center {
    text-align: center;
}