body {
    background-color: #0D47A1 !important;
}

a {
    color: #399366;
}

#brand .logo-avatar, #brand .logo-avatar img {
    border-radius: 0;
}
#intro, #content h1.title {
    background-color: #0277BD;
}
#head, #head a, #foot, #foot a {
    color: #fff;
}