<nav id="site-mobile-navigation">
    <div class="mobile-menu-container">
        <ul id="mobile-menu">
            <li class="menu-item"><a href="{{ site.url }}/blog" title="บันทึก"><i class="fa fa-pencil"></i> บันทึก</a></li>
            <li class="menu-item"><a href="#about"><i class="fa fa-star"></i> เกี่ยวกับแนน</a></li>
            <li class="menu-item"><a href="#portfolio"><i class="fa fa-folder-open"></i> ผลงาน</a></li>
            <li class="menu-item"><a href="{{ site.url }}/assets/git.pdf"><i class="fa fa-github-alt"></i> พื้นฐาน Git</a></li>
        </ul>
    </div>
</nav>