$midnight-color: #2b304c;
$midnight-light-color: #333959;

$grey-50-color: #fafafa;
$white-color: #ffffff;
$black-color: #333333;

$opacity-color: 0.8;

body {
    background-color: $midnight-light-color;
    color: $white-color;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, a, p, span, div {
    color: $white-color;
}

a {
    color: $white-color;
    font-weight: bold;
    opacity: $opacity-color;

    &:hover {
        color: $white-color;
        opacity: 1;
    }
}

#top-header {
    background-color: $midnight-color;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 9999;

    #primary-menu {
        li {
            display: inline-block;

            &:first-child:after {
                content: '/';
                padding: 0 30px;
            }
        }
    }
}


#nann-info {
    .branding {
        text-align: center;

        .nann-logo {
            img {
                max-width: 150px;
                height: auto;
                border-radius: 50%;
                border: 20px solid $white-color;
                background-color: $white-color;
                -ms-box-shadow: 0 0 9px 1px rgba(49, 49, 49, 0.17);
                -moz-box-shadow: 0 0 9px 1px rgba(49, 49, 49, 0.17);
                -webkit-box-shadow: 0 0 9px 1px rgba(49, 49, 49, 0.17);
                box-shadow: 0 0 9px 1px rgba(49, 49, 49, 0.17);
            }
        }

        .nann-title {
            margin-top: 15px;
        }
    }

    #social-profile {
        text-align: center;
        margin-top: 15px;

        #social-link {
            .social-item {
                display: inline-block;
                padding: 0 5px;

                a {
                    i.fa {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

#wrapper {
    padding-top: 95px;

    #right-side {
        padding-bottom: 50px;
        color: white;
        border-left: 5px solid rgba(255, 255, 255, 0.5);
        padding-left: 70px;
        margin-left: 20px;
        position: relative;

        .project {
            margin-bottom: 50px;

            .resume-title {
                font-size: 35px;
                font-weight: 100;
                margin: 0 0 20px 0;
                color: white;
                font-weight: 300;
                padding-bottom: 5px;
                position: relative;

                &:before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    color: $white-color;
                    background-color: $white-color;
                    position: absolute;
                    left: -85px;
                    top: 7px;
                    border: 5px solid $midnight-light-color;
                }
            }

            ul {
                padding-left: 0px;

                li {
                    list-style: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #nann-info {
        text-align: center;
    }

    #right-side {
        padding-left: 30px !important;

        .project {
            .resume-title {
                &:before {
                    left: -45px !important;
                }
            }
        }
    }
}
