@charset "UTF-8";

a{
	color: #254655;
	transition: 300ms;
    cursor: pointer !important;
}
a:hover{
	color: #00aacc;
	text-decoration: none;
}
a:active,a:focus {
	color: #009e9f;
	text-decoration: none;
}