@charset "UTF-8";

.nann-branding {
    float: left;
}

.nann-branding .nann-logo {
	padding-top: 15px;
}

.nann-branding img {
	height: 30px;
}

#masthead .nann-navigation {
	padding-top: 15px;
}

.nann-navigation,
.mobile-navigation {
    float: right;
}

.mobile-navigation {
	padding-top: 15px;
}

/* Responsive Styles Desktop */
@media (min-width: 992px) {
    .nann-branding img {
        height: 55px;
    }

    .nann-branding .nann-logo {
    	padding-top: 15px;
    }

    #masthead .nann-navigation._desktop {
    	padding-top: 40px;
    }
}
