---
layout: default
---

<header id="head" class="group">
    <div id="brand">
        <div class="logo fadeInUp bordered">
            <a href="{{ '/' | prepend: site.baseurl }}" title="Nann" rel="home">
                <img src="{{ site.url }}/assets/img/nann-display.jpg" height="120" width="120" alt="nann-display">
            </a>
        </div>
        <div class="name">
            <h2 class="title fadeIn">i'm Nann</h2>
            <h3 class="desc">
                <span class="fadeIn">Chalermchai Prompunya</span>
            </h3>
        </div>
    </div>
    <div id="social-profile">
        {% include social-profile.html %}
    </div>
    <nav id="nav" role="navigation">
        <a class="site-mobile-navigation js-toggle-right-slidebar _mobile"><i class="fa fa-bars"></i> Menu</a>
        <div id="mainnav" class="_desktop">
            <div class="menu-main-container">
                {% include main-menu.html %}
            </div>
        </div>
    </nav>
</header>
<div id="main" class="group">
    <div id="content" class="group" role="main">
        <div id="intro">
            <h1>
                {% if page.is_post %}
                    {{ page.title }}
                {% else %}
                    บันทึก
                {% endif %}
            </h1>
        </div>
        <div class="items group">
            {{ content }}

            {% if page.is_post %}
            {% include share.html %}
            {% endif %}

            <div id="post-meta">
                <h2>ความเห็นจากเฟสบุค</h2>
                {{ include facebook-init.html }}

                <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
            </div>
        </div>
    </div>
    {% include footer-copyright.html %}
</div>